<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="D:\BabyFaceLogs\CommonApiLog.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <footer value="&#xD;&#xA;" />
        <conversionPattern value="==================== %newline %date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <footer value="&#xD;&#xA;" />
        <conversionPattern value="==================== %newline %date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="all" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="BabyFaceEntities" connectionString="Data Source=.;Initial Catalog=Couponz_BabyFace;Integrated Security=false;user id=sa;password=123456;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!--<add name="BabyFaceEntities" connectionString="Data Source=134.213.201.74;Initial Catalog=Couponz_BabyFace_Staging;Integrated Security=false;user id=sa;password=rE5*ikK3;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="CouponzEntities" connectionString="metadata=res://*/CouponzContext.csdl|res://*/CouponzContext.ssdl|res://*/CouponzContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Couponz_BabyFaces;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="BabyFaceEntities" connectionString="Data Source=.;Initial Catalog=Couponz_BabyFace_prod;Integrated Security=false;user id=sa;password=123456;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="CouponzEntities" connectionString="metadata=res://*/CouponzContext.csdl|res://*/CouponzContext.ssdl|res://*/CouponzContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Couponz_Staging;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    
    <add key="RefundOtpLength" value="6"/>
    <add key="RefundOtpExpiration" value="15"/>
    <add key="LoyaltyApiBaseUrl" value="https://BabyFaceloyaltystaging-api.dsquares.com/" />
    <add key="cashBackPercentage" value="0.2" />
    <add key="cashBackExpiry" value="20" />
    <add key="MaximumTopupValue" value="20000" />
    <add key="UserProfilePicPath" value="App_Data" />
    <add key="SMSProvider" value="vfcloud" />
    <add key="SMSUserVFCloud" value="Dsqaures-1@Dsqaures12" />
    <add key="SmsSender" value="Dsquares" />
    <add key="SMSPasswordVFCloud" value="Vodafone1" />
    <add key="SMSUrlVFCloud" value="https://e3len.vodafone.com.eg/web2sms/sms/submit/" />
    <add key="SMSBatchLength" value="2" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailFrom" value="BabyFace.app.dsquares@gmail.com" />
    <add key="EmailFromDisplayName" value="BabyFace" />
    <add key="EmailPassword" value="P@ssw0rdgamdagedan" />
    <add key="PasswordResetTokenExpiry" value="60" />
    <add key="UserFeedbackEmail" value="BabyFace.app.dsquares@gmail.com" />
    <add key="UserFeedbackEmailDisplayName" value="BabyFace" />
    <add key="UserFeedbackEmailPassword" value="P@ssw0rdgamdagedan" />
    <add key="EmailConfirmationLinkExpiry" value="60" />
    <add key="Mode" value="Debug" />
    <add key="CouponzApiBaseUrl" value="http://flexapi.dsquares.com/Api/" />
    <add key="RedeemOfferByPinCodeUrl" value="Couponz/RedeemOfferByPinCode?msisdn={0}&amp;merchantMsisdn={1}&amp;offerNumber={2}&amp;ratePlan=200&amp;environment=BabyFace&amp;channel={6}&amp;languageId={3}&amp;burn={4}&amp;BabyFaceUserId={5}" />
    <add key="usertokenexpiry" value="60" />
    <add key="SubscribeToOfferUrl" value="Couponz/SubscribeToOffer?msisdn={0}&amp;offerNumber={1}&amp;ratePlan=200&amp;environment=BabyFace&amp;languageId={2}&amp;forceXmlResult={3}" />
    <add key="AndroidMobileConfigurationFilePath" value="D:\test.text" />
    <add key="IosMobileConfigurationFilePath" value="D:\BabyFaceAppInfo.json" />
    <add key="PaymobApiKey" value="ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6VXhNaUo5LmV5SndjbTltYVd4bFgzQnJJam96TlRNNUxDSnVZVzFsSWpvaWFXNXBkR2xoYkNJc0ltTnNZWE56SWpvaVRXVnlZMmhoYm5RaWZRLnNFZjlMZ0REM1pCb2tnSHVKSHFKOGVremZ5RXkxR3dvR2xQSG9NMXNWdjU2ZHI2TW9fQzlnU0FxNkRWeXpYMEtuQ2czNElNTnZnMTdvOXpsWVpWUk9n" />
    <add key="PaymobAuthUrl" value="https://accept.paymobsolutions.com/api/auth/tokens" />
    <add key="PaymobOrderCreationUrl" value="https://accept.paymobsolutions.com/api/ecommerce/orders?token=" />
    <add key="PaymobPaymentKeyUrl" value="https://accept.paymobsolutions.com/api/acceptance/payment_keys?token=" />
    <add key="PaymobUrl" value="https://accept.paymobsolutions.com/api/" />
    <add key="PaymobCardIntegrationId" value="5580" />
    <add key="HMACSecret" value="DCDF03086C2BCB0B46BB01DB74BFBCE2" />
    <add key="PaymobApiKey" value="ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6VXhNaUo5LmV5SndjbTltYVd4bFgzQnJJam96TlRNNUxDSnVZVzFsSWpvaWFXNXBkR2xoYkNJc0ltTnNZWE56SWpvaVRXVnlZMmhoYm5RaWZRLnNFZjlMZ0REM1pCb2tnSHVKSHFKOGVremZ5RXkxR3dvR2xQSG9NMXNWdjU2ZHI2TW9fQzlnU0FxNkRWeXpYMEtuQ2czNElNTnZnMTdvOXpsWVpWUk9n" />
    <add key="PaymobKioskIntegrationId" value="5739" />
    <add key="SupportMail" value="nawal.hosni@dsquares.com" />
    <add key="StartingPlusCampDate" value="636703200000000000" />
    <add key="PaymobCashIntegrationId" value="5727" />
    <add key="EnglishPayMobIframeSrc" value="https://accept.paymobsolutions.com/api/acceptance/iframes/8747?payment_token={0}" />
    <add key="ArabicPayMobIframeSrc" value="https://accept.paymobsolutions.com/api/acceptance/iframes/9571?payment_token={0}" />
    <add key="PaymenyAmountKey" value="BabyFace@mount$Key$" />
    <add key="PaymobBranchMsisdn" value="201121146363" />

    <add key="PaymobWalletApiKey" value="ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6VXhNaUo5LmV5SndjbTltYVd4bFgzQnJJam96TlRNNUxDSnVZVzFsSWpvaWFXNXBkR2xoYkNJc0ltTnNZWE56SWpvaVRXVnlZMmhoYm5RaWZRLnNFZjlMZ0REM1pCb2tnSHVKSHFKOGVremZ5RXkxR3dvR2xQSG9NMXNWdjU2ZHI2TW9fQzlnU0FxNkRWeXpYMEtuQ2czNElNTnZnMTdvOXpsWVpWUk9n" />
    <add key="PaymobWalletAuthUrl" value="https://accept.paymobsolutions.com/api/auth/tokens" />
    <add key="PaymobWalletOrderCreationUrl" value="https://accept.paymobsolutions.com/api/ecommerce/orders?token=" />
    <add key="PaymobWalletPaymentKeyUrl" value="https://accept.paymobsolutions.com/api/acceptance/payment_keys?token=" />
    <add key="PaymobWalletUrl" value="https://accept.paymobsolutions.com/api/" />
    <add key="PaymobWalletCardIntegrationId" value="5580" />
    <add key="WalletHMACSecret" value="DCDF03086C2BCB0B46BB01DB74BFBCE2" />
    <add key="PaymobWalletKioskIntegrationId" value="5739" />
    <add key="WalletSupportMail" value="amira.maged@theBabyFace.com" />
    <add key="PaymobWalletCashIntegrationId" value="5727" />
    <add key="ArabicPayMobWalletIframeSrc" value="https://accept.paymobsolutions.com/api/acceptance/iframes/9571?payment_token={0}" />
    <add key="EnglishPayMobWalletIframeSrc" value="https://accept.paymobsolutions.com/api/acceptance/iframes/8747?payment_token={0}" />
    <add key="PaymobBranchMsisdn" value="201121146363" />

    <add key="OfferCashDate" value="20" />
    <add key="enableGeoLocation" value="false"/>
    <add key="CashOffersrefreshKeys" value="2"/>
    <add key="CategoryDetailsRefreshKeys" value="20"/>
    <add key="ReferralRewardPointsValue" value="25"/>
    <add key="ReferralRewardPointsExpiryInDays" value="90"/>
    <add key="FlashDealVRefreshKeys" value="20"/>
    <add key="LookupsCashKey" value="1000"/>
    <add key="GetUserSavingsandFavoritsCounts" value="false"/>
    <add key="AllowednumberstoViewHotDealForTest" value="1000"/>
    <add key="showHotDeal" value="true"/>
  	<add key="ReferralRewardPointsValue" value="25"/>
    <add key="ReferralRewardPointsExpiryInDays" value="90"/>
        <add key="EnableReferralfeature" value="true"/>
    <add key="ReferralRewardMaxCap" value="5"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>